@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    margin-top: 2rem;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.list-item {
    text-decoration: none;
    color: inherit;
    margin-left: 2rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.open-menu {
    display: none;
    color: #DD71C6;
}

.close-menu {
    display: none;
    color: #F9F9F9;
}

#check

/*check id for tablet and mobile menu*/
    {
    display: none;
}

.hero-section {
    background-image: url("../Images/Ellipse-clock-section-right.png"), url("../Images/Ellipse-clock-section-left.png");
    background-repeat: no-repeat;
    background-position: right 10px, left 10px;
    background-attachment: local;
}

.landing {
    margin-top: 5rem;
}

.landing-row {
    display: flex;
}

.main-header {
    color: #333;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 150%;
}

.available-text {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12;
    font-weight: 400;
}

.header-paragraph p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    max-width: 40%;
}

.btn {
    padding: 0.7rem 1.5rem;
    background-color: #DD71C6;
    border: none;
    border-radius: 2rem;
    color: #F9F9F9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    transition: 0.7s ease-in-out;
}

.btn:hover {
    background: #8a3978;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.20);
}

.btn:focus {
    transform: scale(0.9);
}

.available-text {
    display: none;
}

.pink-text {
    color: #DD71C6;
}

.yellow-square {
    width: 32.3vw;
    height: 150vh;
    flex-shrink: 0;
    border-radius: 3.125rem 0rem 0rem 0rem;
    background: #FFD900;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* CLOCK */
/* CLOCK */
/* CLOCK */

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 2.5625rem 2.25rem;
    border-radius: 3.125rem;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
    backdrop-filter: blur(33.5px);
}

.timer-number {
    display: flex;
    justify-content: center;
}

.timer-text {
    color: #0083D3;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.36563rem;
    margin-top: 3rem;
    text-transform: uppercase;
}

.timer-number {
    margin-top: 3rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.timer-content {
    display: flex;
    gap: 2.5rem;
}

.offer {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* CARD SECTION */
/* CARD SECTION */
/* CARD SECTION */

.card-section {
    background-color: #DD71C6;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/Ellipse-card-right.png"),
        url("../Images/Ellipse-card-left.png");
    background-repeat: no-repeat;
    background-position: right 40px, center left 120px;
    background-attachment: local;

}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.card-row {
    background-color: #FFF;
    border-radius: 1.25rem;
    width: 23%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card-content h3 {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.card-content p {
    color: #333;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.btn.btn-yellow {
    background-color: #FFD900;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.btn.btn-yellow.btn:hover {
    background: #8a3978;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.20);
}

.grey-plus-sign {
    color: #C4C4C4;
}

.activity-card-paragraph {
    margin: auto;
    padding: auto;
}

/* BICEPS SECTION */
/* BICEPS SECTION */
/* BICEPS SECTION */

.biceps-section {
    background-color: #73C3F4;
    background-image: url("../Images/Ellipse-biceps-left-desktop.png"),
        url("../Images/Ellipse-biceps-middle-desktop.png"),
        url("../Images/Ellipse-biceps-right-desktop.png");
    background-repeat: no-repeat;
    background-position: left center, 80% 20%, right center;
    background-attachment: local;
}

.biceps-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.biceps-lady {
    position: relative;
    margin-bottom: 1rem;
    background-image: url("../Images/Elipse-muscle-desktop-lady.png");
    background-repeat: no-repeat;
    background-position: 115px 200px;
    background-attachment: local;
    padding: 2rem;
}

.lower-half-circle {
    position: absolute;
    z-index: 1;
    background-image: url("../Images/Ellipse-biceps-half-desktop.png");
    background-repeat: no-repeat;
    background-position: 5.2rem 6.5rem;
    height: 320px;
    width: 500px;
    top: 300px;
    
}

.left-text-biceps {
    color: #FFF;
}

.left-text-biceps h3 {
    margin-top: 5rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.left-text-biceps p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.biceps-parapgraph-1 {
    width: 65%;
}

.biceps-parapgraph-2 {
    width: 70%;
}

.left-text-biceps button {
    margin-bottom: 5rem;
}

/* PEOPLEGROUP SECTION */
/* PEOPLEGROUP SECTION */
/* PEOPLEGROUP SECTION */


.people-group-section {
    background-color: #FFF;
    height: 49.625rem;
    background-image: url("../Images/Group-people-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: local;
}

.people-group-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.people-group-text-part-1 {
    margin-top: 3rem;
}

.people-group-text-part-1 h3 {
    color: #333;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.people-group-content p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25.6px;
    width: 71.25rem;
    max-width: 110%;
}

.text-part-1-parapgraph-tablet-mobile {
    display: none;
}

.people-group-button {
    align-self: center;
}

.people-group-button::before {
    content: 'Book my appointment';
}

.people-group-picture-tablet-mobile {
    display: none;
}

/* CONSULTATION SECTION */
/* CONSULTATION SECTION */
/* CONSULTATION SECTION */

.consultation-section {
    background-image: url("../Images/Ellipse-consultation-right.png"),
        url("../Images/Ellipse-consultation-right-bot-desktop.png"),
        url("../Images/Ellipse-consultation-left-desktop.png");
    background-repeat: no-repeat;
    background-position: 95% 1%, 85% 70%, left center;
    background-attachment: local;
    margin-top: 6rem;
}

.consultation-subheader {
    text-align: center;
    color: #333;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 5rem;
}

.consultation-cards {
    display: flex;
    justify-content: space-around;
}

.consultation-card {
    border-radius: 1.25rem;
    background: #FFF;
    width: 27rem;
    height: 24rem;
}

.card-subheader {
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.consultation-list {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.6px;
    margin-top: 3rem;
}

.consultation-list-item+.consultation-list-item {
    margin-top: 1.5rem;
}

.consultation-card-left-line {
    display: block;
    border: 0.7px solid #B1E2FF;
    width: 90%;
    margin: auto;
}

.consultation-card-right-line {
    display: block;
    border: 0.7px solid #FFB7F0;
    width: 90%;
    margin: auto;
}

.consultation-button {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.consultation-right-card h4 {
    color: #DD71C6;
}

.consultation-left-card h4 {
    color: #0083D3;
}

.faq-section {
    background-color: #FFF;
    background-image: url("../Images/Ellipse-faq-right-desktop.png"),
        url("../Images/Ellipse-faq-right-desktop-2.png"),
        url("../Images/Ellipse-faq-left-desktop.png");
    background-repeat: no-repeat;
    background-position: 98% 12%, 95% 90%, left 75%;
    background-attachment: local;
}

.faq-subheader {
    color: #333;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.faq-container {
    max-width: 100%;
    margin: 0 auto;
}

.faq {
    background-color: #F9F9F9;
    border-radius: 1.25rem;
    margin: 30px 0;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

}

.faq-text {
    display: none;
    margin: 30px 0 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;

}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    color: #DD71C6;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 15px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: 0;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
    color: white;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #DD71C6;
}

.faq-button {
    text-align: center;
    padding-bottom: 5rem;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-section {
    background-image: url("../Images/Ellipse-footer-left-desktop.png"),
        url("../Images/Ellipse-footer-right-desktop.png");
    background-repeat: no-repeat;
    background-position: 10% 50%, right 80%;
    background-attachment: local;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content p,
li {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
}

.footer-content h3 {
    color: #333;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.footer-content-right {
    display: flex;
    justify-content: space-between;
    width: 450px;
    max-width: 100%;
    margin-top: 7rem;
}

.footer-content-left {
    margin-top: 7rem;
    width: 45%;
}

.footer-text {
    margin-top: 2rem;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin-top: 3rem;
}

.footer-list li+li {
    margin-top: 1.5rem;
}

.company-info {
    margin-top: 3rem;
}

.company-info p+p {
    margin-top: 2rem;
}

.socials-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.social-media {
    display: flex;
    gap: 2rem;
    font-size: 30px;
    color: #DD71C6;
    align-items: center;
}

.social-media a:hover {
    color: #8a3978;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.20);
}

.social-media a {
    color: inherit;
}

.fa-location-dot {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-bold {
    font-weight: 700;
}

.copyright-text {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.footer-location,
.footer-phone {
    display: flex;
}

.fa-location-dot {
    margin-right: 1rem;
}

.fa-phone {
    margin-right: 0.7rem;
}

.footer-location-tablet-phone-text,
.footer-phone-tablet-phone-text {
    display: none;
}




/* NAV HAMBURGER */
/* NAV HAMBURGER */
/* NAV HAMBURGER */

@media(max-width: 1332px) {
    .nav-list {
        flex-direction: column;
        justify-content: flex-start;
        width: 70%;
        height: 100vh;
        border-radius: 1rem 0;
        z-index: 1;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #DD71C6;
        transition: all 0.2s ease-in-out;
    }

    .list-item {
        margin-left: 0;
        font-size: 24px;
        color: #F9F9F9;
    }

    .nav-list li {
        margin-top: 2.5rem;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.nav-list {
        right: 0;
    }

    .open-menu {
        display: inline;
        position: absolute;
        right: 2rem;
        top: 3rem;
        font-size: 24px;
        cursor: pointer;
    }

    .close-menu {
        display: inline;
        position: absolute;
        right: 2rem;
        top: 2rem;
        font-size: 24px;
        cursor: pointer;
    }

}

/* PHONE */
/* PHONE */
/* PHONE*/

@media all and (max-width: 480px) {

    body {
        background-color: #fff;
    }

    .landing-row {
        flex-direction: column;
    }

    .header-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-header {
        font-size: 30px;
        text-align: center;

    }

    .available-text {
        display: flex;
        justify-content: center;
    }

    .list-item {
        margin-left: 0;
        font-size: 14px;
    }

    .clock {
        padding: 1rem 2.5rem;
        border-radius: 30px;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
    }

    .offer {
        font-size: 12px;
    }

    .timer-text {
        font-size: 8px;
        margin-top: 2rem;
        letter-spacing: 0.1625rem;
    }

    .timer-number {
        font-size: 18px;
        margin-top: 2rem;
    }

    .timer-content {
        gap: 0.5rem;
    }

    .yellow-square {
        width: 50vw;
    }

    .header-paragraph p {
        max-width: 100%;
    }

    .header-paragraph button {
        align-self: center;
    }

    .Landing {
        margin-top: 1rem;
    }

    .hero-section {
        background-image: url("../Images/Ellipse-clock-section-mobile.png");
        background-repeat: no-repeat;
        background-position: right 60px;
        background-attachment: local;
    }

    .card-row {
        width: 8.375rem;
        height: 9.8125rem;
        padding: 0.5rem 0.5rem;
        flex: 1 110px;
        margin: 10px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 12px;
        line-height: normal;
    }

    .card-content img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .card-section {
        background-image: url("../Images/Ellipse-card-right-mobile.png"),
            url("../Images/Ellipse-card-left-mobile.png");
        background-repeat: no-repeat;
        background-position: right center, left bottom 170px;
        background-attachment: local;
        margin-top: 2rem;
    }

    .biceps-section {
        background-image: url("../Images/Ellipse-biceps-right-mobile.png"),
            url("../Images/Elipse-biceps-middle-mobile.png");
        background-repeat: no-repeat;
        background-position: right top 5%, 90% 70%;
        background-attachment: local;
    }

    .biceps-content {
        flex-direction: column;
    }

    .biceps-parapgraph-1 {
        width: 95%;
    }

    .biceps-parapgraph-2 {
        width: 95%;
    }

    .left-text-biceps p {
        font-size: 14px;
    }

    .left-text-biceps h3 {
        margin-top: 4rem;
        font-size: 24px;
        width: 85%;
    }

    .biceps-lady img {
        height: 20rem;
        width: 235px;
    }

    .biceps-lady {
        background-image: url("../Images/Elipse-muscle-mobile-lady.png");
        background-repeat: no-repeat;
        background-position: 40% 100%;
        background-attachment: local;
        width: 300px;
        max-width: 100%;
        padding: 0;
    }

    .lower-half-circle {
        background-image: url("../Images/Ellipse-biceps-half-mobile.png");
        background-repeat: no-repeat;
        background-position: 39.5% 90%;
        background-attachment: local;
        height: 230px;
        width: 100%;
        top: 100px;
    }

    .left-text-biceps button {
        margin-bottom: 2rem;
    }

    .button-biceps-lady {
        display: flex;
        justify-content: center;
    }

    .people-group-section {
        background-image: url("../Images/Ellipse-group-people-mobile.png");
        background-repeat: no-repeat;
        background-position: right top 75px;
        background-attachment: local;
        height: auto;
    }

    .people-group-picture-tablet-mobile {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .people-group-picture-tablet-mobile img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .people-group-content {
        text-align: left;
    }

    .text-part-1-parapgraph {
        display: none;
    }

    .text-part-1-parapgraph-tablet-mobile {
        display: block;
        margin-top: 2rem;
    }

    .people-group-text-part-2 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .people-group-content p {
        max-width: 100%;
    }

    .people-group-content h3 {
        font-size: 24px;
    }

    .people-group-text-part-1 {
        margin-top: 2rem;
    }

    .people-group-button::before {
        content: 'See patient stories';
    }

    .consultation-section {
        background-color: #F9F9F9;
        background-image: url("../Images/Ellipse-consultation-right-mobile.png"),
            url("../Images/Ellipse-consultation-left-mobile.png");
        background-repeat: no-repeat;
        background-position: right top 5%, left top 5px;
        background-attachment: local;
    }

    .consultation-cards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .consultation-button {
        margin-top: 2.5rem;
        margin-bottom: auto;
        padding-bottom: 5rem;
    }

    .consultation-subheader {
        font-size: 24px;
        text-align: left;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-top: 3rem;
        width: 80%;
    }

    .card-subheader {
        font-size: 18px;
    }

    .consultation-list {
        font-size: 14px;
        margin-top: 1rem;
        line-height: 24px;

    }

    .consultation-card {
        padding: 0.5rem;
        width: auto;
        min-width: 17rem;
        height: 19rem;
    }

    .consultation-list-item+.consultation-list-item {
        margin-top: 1rem;
    }

    .faq-section {
        background-image: url("../Images/Ellipse-faq-right-mobile.png");
        background-repeat: no-repeat;
        background-position: top right;
        background-attachment: local;
    }

    .faq-button {
        display: none;
    }

    .footer-section {
        background-color: #F9F9F9;
        background-image: url("../Images/Ellipse-footer-right-mobile.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-attachment: local;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content-left {
        width: 100%;
    }

    .footer-content-right {
        margin-top: 0.5rem;
        flex-direction: column;
    }

    .footer-list {
        margin-top: 2rem;
    }

    .social-media {
        margin-right: 2rem;
    }

    .socials-copyright {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    .footer-location-tablet-phone-text,
    .footer-phone-tablet-phone-text {
        display: block;
    }

    .footer-location-desktop-text,
    .footer-phone-desktop-text {
        display: none;
    }

    .fa-location-dot {
        position: relative;
        bottom: 1rem;
        filter: none;
    }

    .footer-text {
        width: 80%;
    }

    .footer-content-left {
        margin-top: 4rem;
    }

    .socials-copyright {
        margin-top: 2.5rem;
        flex-direction: column;
    }

    .company-info {
        margin-top: 1rem;
    }

    .footer-content p,
li {
   font-size: 14px;
}

.footer-content h3 {
    font-size: 20px;
}

.copyright-text {
    font-size: 14px;
    width: 90%;
}


}

/* TABLET */
/* TABLET */
/* TABLET */

@media all and (min-width: 481px) and (max-width: 1200px) {

    body {
        background-color: #fff;
    }

    .landing-row {
        flex-direction: column;
    }

    .header-paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
    }

    .main-header {
        font-size: 36px;
        text-align: left;
        max-width: 70%;
    }

    .available-text {
        display: flex;
        justify-content: center;
        font-size: 16px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .list-item {
        margin-left: 0;
        font-size: 14px;
    }

    .clock {
        padding: 1.625rem 2.25rem;
        border-radius: 1.875rem;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
    }

    .offer {
        font-size: 16px;
    }

    .timer-text {
        font-size: 12px;
        margin-top: 2rem;
        letter-spacing: 0.24375rem;
    }

    .timer-number {
        font-size: 36px;
        margin-top: 2rem;
    }

    .timer-content {
        gap: 0.5rem;
    }

    .yellow-square {
        width: 50vw;
        top: 6rem;
        background-image: url("../Images/Ellipse-clock-section-right-tablet-2.png");
        background-repeat: no-repeat;
        background-position: center 500px;
        background-attachment: local;
    }

    .header-paragraph p {
        max-width: 65%;
    }

    .header-paragraph button {
        align-self: center;
    }

    .landing {
        margin-top: 1rem;
    }

    .hero-section {
        background-image: url("../Images/Ellipse-clock-section-right-tablet.png"),
            url("../Images/Ellipse-clock-section-left-tablet.png");
        background-repeat: no-repeat;
        background-position: right 10px, center left;
        background-attachment: local;
    }

    .card-row {
        line-height: 20px;
        height: 13.4375rem;
        width: 23%;
        padding: 0.5rem 1rem;
    }

    .card-content img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .card-content h3 {
        font-size: 24px;
    }

    .card-content p {
        font-size: 16px;
        line-height: 16px;
    }

    .card-row {
        padding: 0.5rem;
    }

    .card-paragraph {
        margin-top: 3rem;
    }

    .activity-card-paragraph {
        margin: 0;
    }

    .card-section {
        background-image: url("../Images/Ellipse-card-right-tablet.png");
        background-repeat: no-repeat;
        background-position: right bottom 70px;
        background-attachment: local;
        margin-top: 3rem;
    }

    .biceps-content {
        flex-direction: column;
        justify-content: center;
    }

    .left-text-biceps {
        text-align: left;
    }

    .left-text-biceps h3 {
        width: 100%;
        margin-top: 3.5rem;
    }

    .button-biceps-lady {
        display: flex;
        justify-content: center;
    }

    .biceps-parapgraph-1 {
        width: 100%;

    }

    .biceps-parapgraph-2 {
        width: 100%;
    }

    .container.container-tablet {
        width: 80%;
        max-width: 440px;
    }

    .biceps-lady {
        padding: 0;
        height: 30rem;
        background-image: url("../Images/Ellipse-muscle-tablet-lady.png");
        background-repeat: no-repeat;
        background-position: 3.5rem 8.5rem;
        background-attachment:local;
        width: 100%;
    }

    .lower-half-circle {
        background-image: url("../Images/Ellipse-biceps-half-tablet.png");
        background-repeat: no-repeat;
        background-position: 3.5rem 12.5rem;
        height: 380px;
        width: 430px;
        top: 100px;
    }

    .biceps-lady img {
        height: 30rem;
    }

    .biceps-section {
        background-image: url("../Images/Ellipse-biceps-right-tablet.png"),
            url("../Images/Ellipse-biceps-left-tablet.png"),
            url("../Images/Ellipse-biceps-middle-tablet.png");
        background-repeat: no-repeat;
        background-position: right top 20%, left 65%, 78% 63%;
        background-attachment: local;
    }

    .people-group-section {
        background-image: url("../Images/Ellipse-group-people-tablet.png");
        background-repeat: no-repeat;
        background-position: right top 45px;
        background-attachment: local;
        height: auto;
    }

    .people-group-picture-tablet-mobile {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .people-group-picture-tablet-mobile img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .people-group-content {
        text-align: left;
    }

    .text-part-1-parapgraph {
        display: none;
    }

    .text-part-1-parapgraph-tablet-mobile {
        display: block;
        margin-top: 3.5rem;
    }

    .people-group-text-part-2 {
        margin-top: 1.5rem;
    }

    .people-group-content p {
        max-width: 100%;
    }

    .people-group-button::before {
        content: 'See patient stories';
    }

    .consultation-cards {
        flex-direction: column;
    }

    .consultation-section {
        background-color: #F9F9F9;
        background-image: url("../Images/Ellipse-consultation-right-tablet.png"),
            url("../Images/Ellipse-consultation-left-tablet.png"),
            url("../Images/Ellipse-consultation-left-tablet-2.png");
        background-repeat: no-repeat;
        background-position: right center, left 10%, left bottom 5%;
        background-attachment: local;
    }

    .consultation-cards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .consultation-button {
        margin-top: 2.5rem;
        margin-bottom: auto;
        padding-bottom: 5rem;
    }

    .consultation-subheader {
        font-size: 24px;
        text-align: left;
        margin-top: 4rem;
        margin-bottom: 4rem;
        padding-top: 3rem;
        width: 70%;
    }

    .consultation-list {
        font-size: 14px;
        margin-top: 2rem;
        line-height: 24px;

    }

    .consultation-card {
        padding: 1rem 5rem;
        width: 27.5;
        height: 23rem;
    }

    .consultation-list-item+.consultation-list-item {
        margin-top: 1rem;
    }

    .faq-subheader {
        padding-top: 1rem;
    }

    .faq-section {
        background-image: none;
    }

    .footer-section {
        background-color: #F9F9F9;
        background-image: url("../Images/Ellipse-footer-center-tablet.png"),
            url("../Images/Ellipse-footer-right-tablet.png");
        background-repeat: no-repeat;
        background-position: 30% 18%, right 10px bottom 10px;
        background-attachment: local;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-content-left {
        width: 100%;
    }

    .footer-content-right {
        margin-top: 2rem;
    }

    .social-media {
        margin-right: 2rem;
    }

    .socials-copyright {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    .footer-location-tablet-phone-text,
    .footer-phone-tablet-phone-text {
        display: block;
    }

    .footer-location-desktop-text,
    .footer-phone-desktop-text {
        display: none;
    }

    .fa-location-dot {
        position: relative;
        bottom: 1rem;
        filter: none;
    }

    .footer-text {
        width: 80%;
    }

    .footer-content-left {
        margin-top: 4rem;
    }

    .socials-copyright {
        margin-top: 2.5rem;
    }

    .footer-text {
        width: 70%;
    }

    .footer-content h3 {
        font-size: 20px;
    }

    .footer-list {
        margin-top: 2rem;
    }





}