*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    
}


.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}